version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.7

    steps:
      - checkout

      - run:
          name: Install Bundler
          command: gem install bundler

      - run:
          name: Install Dependencies
          command: bundle install

      - run:
          name: Generate Site
          command: JEKYLL_ENV=production bundle exec jekyll build

      - persist_to_workspace:
          root: .
          paths:
            - ./_site/

  deploy:
    docker:
      - image: jamcswain/circleci-aws-cli

    steps:
      - attach_workspace:
          at: /tmp/site

      - run:
          name: Push to S3
          command: aws s3 sync /tmp/site/. s3://${ORIGIN_BUCKET_NAME}

      - run:
          name: Clear Cloudfront Cache
          command: aws cloudfront create-invalidation --distribution-id ${CLOUDFRONT_DISTRIBUTION_ID} --paths "/*"

workflows:
  version: 2
  build-n-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: /.*/
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master